<div class="card"></div>
<div class="card">
  <h1 class="title">Signup</h1>

  <div id='error-message' class="alert alert-danger" role="alert"></div>

  <form>
    <div class="input-container">
      <input type="text" id="name" required="required">
      <label for="name">Name</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input type="text" id="email" required="required">
      <label for="email">Email</label>
      <div class="bar"></div>
    </div>

    <div class="input-container">
      <input type="password" id="password" required="required">
      <label for="Password">Password</label>
      <div class="bar"></div>
    </div>

    <div class="button-container">
      <button><span>Submit</span></button>
    </div>
  </form>
</div>
